VITE_API_BASE_URL=
VITE_STELLAR_NETWORK=testnet
VITE_SOROBAN_RPC_URL=https://soroban-testnet.stellar.org
VITE_STELLAR_HORIZON_URL=https://horizon-testnet.stellar.org
VITE_STELLAR_MARKETPLACE_ADDRESS=GCZGKZXINPUV6PMBHWOGKX4B2LAB4PUUOFSV4KJ765C6ZQXZNRDDF6SB
VITE_SOROBAN_MARKET_CONTRACT_ID=CBRKJVWTTF5DO2ZVIDOP3TSBTPYQXHGQIPA4ANFI7WKG4X65Y3MCCXJI
VITE_SOROBAN_REWARDS_CONTRACT_ID=CCO434MY5ASOQIJALSN2KINXVEQMJKCW3HRMVRZSF2MOXUI7O3V4WTJD
VITE_PROMO_SITE_URL=https://sopwit.github.io/Neaf-Web/
VITE_WALLETCONNECT_PROJECT_ID=your-walletconnect-project-id
VITE_TELEGRAM_BOT_USERNAME=emira_test_bot
VITE_TELEGRAM_WEBAPP_URL=https://your-vercel-domain.vercel.app
VITE_TELEGRAM_STARTAPP=emira-core
